---
- name: "Directory Exists | {{ item }}"
  file:
    state: directory
    path: "{{ item }}"
    owner: "{{ robot_sweatshop_user }}"
    group: wcadmin
    mode: 0775
  with_items:
    - "{{ robot_sweatshop_runtime_root }}"
    - "{{ robot_sweatshop_log_root }}"
    - "{{ robot_sweatshop_config_root }}"
    - "{{ robot_sweatshop_db_root }}"
  tags:
    - directory-structure
    - robot_sweatshop

- name: Configure | robot_sweatshop
  template:
    src: etc/robot_sweatshop/config.yaml
    dest: /etc/robot_sweatshop/config.yaml
    owner: "{{ robot_sweatshop_user }}"
    group: "{{ robot_sweatshop_group }}"
    mode: 0664
  notify: Reload Service | robot_sweatshop

# - name: Configure | robot_sweatshop
#   lineinfile:
#     state: present
#     dest: "{{ robot_sweatshop_config_root }}/config.yaml"
#     regexp: "{{ item.key }}:"
#     line: "{{ item.key }}: {{ item.value }}"
#   with_items:
#     - { key: pidfile_directory, value: "{{ robot_sweatshop_runtime_root }}" }
#     - { key: logfile_directory, value: "{{ robot_sweatshop_logfile_root }}" }
#     - { key: port,              value: "{{ robot_sweatshop_server_port }}" }
#     - { key: moneta_directory,  value: "{{ robot_sweatshop_db_root }}" }
#   notify: Reload Service | mci-server
#   tags:
#     - configuration
#     - precise-configuration
#     - robot_sweatshop
